body{
    font-family: 'Courier New', Courier, monospace;
    

}
header{
    height: 100px;
    background-color: #333;
    padding: 5px;
    
    
}

.nav {
    text-align: center;
}



.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    
    
  }

.nav li {
    display: inline-block;
    margin:15px;
    border:4px solid #333;
    background-color: #f3b4c4;
    
   
    
  }
  
.nav li a {
    display:flex;
    justify-content: center; 
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    height: 35px;
    
    
    
    
   
    
  }


li:hover{
    border-radius: 14px;
    border:4px solid #f3b4c4;
    background-color:white;
    box-shadow: 0 12px 16px 0 #fcd6e0,0 17px 50px 0 #f3b4c4;
    
    
    
}

.container{

    display: flex; 
    justify-content: space-between;
    align-items: center;
    width:100%;
    min-height:400px;
    padding:5px;
    
        
}

.text, .cv1{
    
    padding:30px;
    width:50% ;
}

.photo, .cv2{
    
    
    width:45% ;
    
    
}



img{
    
    max-width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



table.cv{
    text-align: left;
    border:2px solid #f3b4c4;
    
    
}

table.cv td{
    width: auto;
    height: 40px;
    padding:10px;
    border: 2px solid black;
}


thead{
    font-weight: bold;
}



table.contact td{
    padding:10px;
    
}

button{
    width: 100px;
    height: 35px;
    font-weight: bold;
    border-radius: 2px solid black;
    background-color: #f3b4c4;
    color: black;
}

button:hover {
    border-color: #f3b4c4 ;
    background-color: black;
    color: #f3b4c4;
    box-shadow: 0 12px 16px 0 #fcd6e0,0 17px 50px 0 #f3b4c4;
}

button, input, textarea {
    font-family: 'Courier New', Courier, monospace
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    
  }

footer p{
    color: #f3b4c4;
}
  
  

